body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#logo_link {
    display: flex;
    width: 10%;
}

#debian_img {
    width: 100%;
    height: auto;
}

#header {
    width: 80%;
    text-align: center;
}

#login_link {
    width: 10%;
    text-align: right;
}

header p {
    width: 10%;
    text-align: right;
    margin: 0;
}
main {
    width: 100%;
    float: left;
    display: flex;
}
section {
    text-align: center;
    width: 100%;
}
footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
}